<table class="table">
  <caption *ngIf="caption">{{ caption }}</caption>
  <thead>
    <tr>
      <th *ngFor="let map of columnMaps" [appColumnWidth]="map.width" [appHideColumn]="map.hideOnMobile">{{ map.header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records">
      <td *ngFor="let map of columnMaps" [appStyleCell]="record[map.access(record)]" [appColumnWidth]="map.width" [appHideColumn]="map.hideOnMobile">{{ record[map.access(record)] | formatCell:map.format }}</td>
    </tr>
</table>