<button type="button" class="menu-close-btn" id="menu-close" (click)="closeMenu()">
  <img src="../../../../assets/images/MenuCloseIcon.png">
</button>
<div class="menu-slideout" id="main-menu">

  <ul class="">
    <li routerLinkActive="active"><a (click)="closeMenu()"><img class="menu-icon" src="../../../../assets/images/MenuCalendarIcon.png"> View 1</a></li>
    <li routerLinkActive="active"><a (click)="closeMenu()"><img class="menu-icon" src="../../../../assets/images/MenuCheckIcon.png"> View 2</a></li>
    <li class="dropdown" appDropdown>
      <a style="cursor: pointer;" class="dropdown-toggle" role="button">
        <img class="menu-icon" src="../../../../assets/images/MenuPersonIcon.png"> John Doe <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;">Logout</a></li>
      </ul>
    </li>
  </ul>
</div>